<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://linkededu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>linkededu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>linkededu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$linkededu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="linkSTEM" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:linkedproject.database.windows.net,1433;Initial Catalog=school;User ID=digikin@linkedproject.database.windows.net;Password=Gx340k1qa2" Name="Data Source=tcp:linkedproject.database.windows.net,1433;Initial Catalog=school;User Id=digikin@linkedproject.database.windows.net;Password=Gx340k1qa2" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:linkedproject.database.windows.net,1433;Initial Catalog=school;Persist Security Info=False;User ID=digikin;Password=Gx340k1qa2;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\linkSTEM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:linkedproject.database.windows.net,1433;Initial Catalog=school;Persist Security Info=False;User ID=digikin;Password=Gx340k1qa2;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="linkSTEM-Web.config Connection String">
      <ParameterValue>data source=tcp:linkedproject.database.windows.net,1433;initial catalog=school;user id=digikin@linkedproject.database.windows.net;password=Gx340k1qa2;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>