<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../stylesheets/about.css" rel="stylesheet" />
</head>
<body>
    <section class="main">
        <article>
            <header>
                <h2>Privacy Policy</h2>
            </header>
            <main>
                <p>
                    PBC STEM operates
                    LinkedEdu application (app) as a tool for security guards to manage visitors information.
                    This page is used to inform app users regarding our policies with the collection, use, and d$
                    of information related to the activity the app is intended for.
                </p>
                <p>
                    The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,$
                    <a href="https://www.palmbeachschools.org/stem/">PBC STEM</a> , unless otherwise defined in this Pri$
                </p>
                <h3>Information Collection and Use</h3>
                <p>
                    While using our app, you will provide us with certain identifiable information but not neces$
                    The information that we collect or manage through this app is intended to improve the securi$
                </p>
                <h3>Log Data</h3>
                <p>
                    We want to inform you that whenever you use our app we collect information about the actions$
                    is called "Logs".
                </p>
                <h3>Camera, Phone and Contact</h3>
                <p>
                    Because we also provide the device in most cases the information about contacts are also pro$
                    Adding or changing this information is not required but you can do so at your own risk.
                    Google Play requires us to disclose that LinkedEdu will not use the camera sensor, with the purp$
                    Phone and Contact permissions (read only) is required for making calls, sending SMS or email$
                    In the case that you use our app on your personal device, we will never use your personal in$
                    your phone for any purpose different for what is intended with this app.
                </p>
                <p>
                    LinkedEdu is ad-free.
                </p>
                <h3>Children’s Privacy</h3>
                <p>
                    Our app do not address anyone under the age of 18.
                    We do not created this app for children.
                </p>
                <h3>Changes to This Privacy Policy</h3>
                <p>
                    We may update our Privacy Policy from time to time. Thus, we advise you to review this page p$
                    for any changes. We will notify you of any changes by posting the new Privacy Policy on this$
                    changes are effective immediately, after they are posted on this page.
                </p>
                <h3>Contact Us</h3>
                <p>
                    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contac$
                </p>
                <p>
                    Our website: <a href="https://www.palmbeachschools.org/stem/">PBC STEM</a>
                </p>
            </main>
            <footer>
                &copy; Team Function 2018
            </footer>
        </article>
    </section>
</body>
</html>
