<!DOCTYPE html>
<html>
    <head>
    <title>STEMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
        <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body>
    <h1>Featured Contacts</h1>
        <div class="providers">
                <!--    Providers -->
        </div>

    <h2>Search events nearby</h2>
    <form id="search">
            <div class="search-section">
                <label>Address</label>
                <input type="text" placeholder="313 Datura Street" name="input" id="address">
            </div>
            <div class="search-section">
                <label>City</label>
                <input type="text" placeholder="West Palm Beach, FL" name="input" id="search-query">
            </div>
            <div class="search-section">
                <label>Keyword</label>
                <input type="text" placeholder="Computer Programming" name="input" id="keyword-query">
            </div>
                <button>Submit</button> 
    </form>
    <div id="map"></div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2JUg6qbtk_gGZRWS78YmABZEgtC95iQ&libraries=places"></script>
<script type="text/javascript">
  gapi.load('auth2', function() {
    // Library loaded.
  });
</script>
<script type="text/javascript" src="index.js"></script>