<!DOCTYPE html>
<html>
    <head>
    <title>STEMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="/Public/stylesheets/styles.css" rel="stylesheet">
        <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>
<body>
        <form id="search">
                    <label>Address</label>
        <input type="text" name="input" id="address">
        <label>City, State</label>
        <input type="text" name="input" id="search-query">
    
        <label>Tech Keyword</label>
        <input type="text" name="input" id="keyword-query"> 

        <button>Submit</button> 
    </form>
                <div class="providers">
                <!--    Providers -->
                </div>
    <div id="map"></div>
</body>

    <script>

    </script>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2JUg6qbtk_gGZRWS78YmABZEgtC95iQ&libraries=places"></script>
<script type="text/javascript">
  gapi.load('auth2', function() {
    // Library loaded.
  });
</script>
<script type="text/javascript" src="index.js"></script>
</html>
