

  <div id="main" data-ng-controller="mainCTRL">


        <nav>  
            <ul> 
                <a href="#">  <li class="left">  Linked Ed </li> </a>
                 
              
                 <li class="right"> Log In/Signup </li>
                 <li class="right"> About </li>
                 <li class="right">  Home </li>
            </ul>
<!--          <hr class="navLine">-->
        </nav>
         <button class="thistest">this is a test </button>
        
        <div class="searchWrapper">
            Search here:
        <form action="#" method="get"> 
            <label> <input class="search" type ="text" placeholder="search.."> 
            </label>
            
            <button> Search </button>
        </form>
        </div>
        
       
 
 </div>
