<!DOCTYPE html>
<html>
    <head>
        <title>Linked Ed</title>
        
        <link  type="text/css" href="view.css" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans|Barlow" rel="stylesheet">
             
    </head>
    <body>
        
        
        <nav class='navbar'>
            <ul> 
                <a href="#">  <li class="left">  Linked Ed </li> </a>
                 
              
                 <li class="right"> Log In/Signup </li>
                 <li class="right"> About </li>
                 <li class="right">  Home </li>
            </ul>
<!--          <hr class="navLine">-->
        </nav>
         <button class="thistest">this is a test </button>
        
        <div class="searchWrapper">
            Search here:
        <form action="#" method="get"> 
            <label> <input class="search" type ="text" placeholder="search.."> 
            </label>
            
            <button> Search </button>
        </form>
        </div>
        
       
   <script src="views.js" type="text/javascript"> </script>
    </body>
</html>



<div id="main" data-ng-controller="mapCTRL">

</div>