<div id="profile" data-ng-controller="profileCTRL">
 
     <div class="card">
         <img src="img.jpg" alt="John" style="width:80%">
         <h1>{{ username }}</h1>
         <p class="title">{{ title }}</p>
         <p>{{ company }}</p>
         <a href="#"><i class="fa fa-github"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <p><button>Contact</button></p>
     </div>
 </div>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO2JUg6qbtk_gGZRWS78YmABZEgtC95iQ&libraries=places"></script>
<script type="text/javascript">
  gapi.load('auth2', function() {
    // Library loaded.
  });
</script>
<script type="text/javascript" src="../js/controllers/mainCTRL.js"></script>