<div id="profile" data-ng-controller="profileCTRL">
 
     <div class="card">
         <img src="img.jpg" alt="John" style="width:80%">
         <h1>{{ username }}</h1>
         <p class="title">{{ title }}</p>
         <p>{{ company }}</p>
         <a href="#"><i class="fa fa-github"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-linkedin"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <p><button>Contact</button></p>
     </div>
 </div>