html {
height:100%;
margin:0;
padding:0 ;

}


body{

	  /*background: rgba(189,202,208,.3);*/
	  /* background:rgba(255,255,255, .7); */
	 font-family: 'Poiret One', sans-serif;
  
position: relative;
    overflow: auto;
    height: 100vh;
    margin: 0;
    padding: 0;

}

._body {
  height: 100vh;
margin:0;
padding:0 ;

	  background: url("https://images.unsplash.com/photo-1501349800519-48093d60bde0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0b33dfe1da4ccca6ca490194d9fcc0ea&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



._loginWrap {
    position: relative;
    width: 50%;
    margin:10% auto;

}



.wrapper {
    
    position: relative;
    margin: 10% auto;
 background:#eee9e9;
    border-radius: 3em;
    padding: 2%;
   width: 38%;
      -webkit-box-shadow: 2px 5px 25px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 5px 25px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 8px 25px 2px rgba(0,0,0,0.75);
}
